<?xml version="1.0"?>
<launch>
    <!-- position unit 'm' rotation unit 'rad/s degree' -->
    <arg name="direction_x_add"     default="0.0"/>
    <arg name="direction_y_add"     default="0.0"/>
    <arg name="direction_z_add"     default="0.0"/>
    <!-- rotation around Tool Center Point -->
    <arg name="rotation_x"     default="0.0"/>
    <arg name="rotation_y"     default="0.0"/>
    <arg name="rotation_z"     default="0.0"/>

    <!-- CartesianPose (=1) or CartesianPoseLinear (=0) -->
    <param name = "command_cartisian_mode" type = "double" value = "1" />

    <!-- <node pkg="iiwa_ros" type="iiwa_ros_cartesian_gauncong" name="CartesianPoseState_1569786053275419313" output="screen" > -->
    <node pkg="iiwa_ros" type="iiwa_ros_cartesian_gauncong" name="CartesianPoseState" output="screen" >    
        <param name="direction_x_add"  value="$(arg direction_x_add)" />
        <param name="direction_y_add"  value="$(arg direction_y_add)" />
        <param name="direction_z_add"  value="$(arg direction_z_add)" />
        <param name="rotation_x"  value="$(arg rotation_x)" />
        <param name="rotation_y"  value="$(arg rotation_y)" />
        <param name="rotation_z"  value="$(arg rotation_z)" />
    </node>

</launch>
